body {
    background-color: rgb(255, 255, 255);

    background-image: url("https://d3ftmvynp162pm.cloudfront.net/public/album_photo/a2/79/05/49ee6e1194e6eae3afdc10127bf06178.jpg");
    text-align: center;
    padding: 0px;
}

